<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Quicky XSS SQLi</title>
</head>
<body>

    <h1>Cross Site Scripting & Injections SQL</h1>
    <h3> De la reconnaissance à l’exploitation</h3>

    <ul>
        <li> <a href="/xss/reflected">XSS Réfléchie</a> </li>
        <li> <a href="/xss/stored">XSS Stockée</a> </li>
        <li> <a href="/xss/dom">XSS DOM</a> </li>
    </ul>

    <ul>
        <li> <a href="/sqli/error">SQLi</a></li>
    </ul>

</body>
</html>