<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Quicky XSS SQLi</title>
</head>
<body>

    <form th:action="@{/xss/stored}" method="POST">
        <label>Insérez un commentaire</label></br>
        <input name="input" type="text">
        <button type="submit">send</button>
    </form>

    <div th:each="comment : ${comments}" th:utext="${comment}"></div>
    <div th:utext="${output}"></div>

</body>
</html>